@import"../../../../Style/variables";
@import"../../../../Style/couleurs";
@import"../../../../Style/mixins";


.info{
    width: 500px;
    height: 500px;
    background-color: red;
    position: relative;
    z-index:  12;
    margin : 0 auto;
    display: flex;
    align-items: center;
    @include center ;
}