$premier_couleur:#007E4C;//Iceberg
$deuxieme_couleur:#002222;//Hippie Blue
$troisieme_couleur:#002222;//Blue Chill
$quatrieme_couleur:#DAF228;//Starship


$valider_couleur:#007E4C;
$supprimer_couleur:#FF524C;



$text_font_clair:#D6EDF3;
$text_font_sombre:#242C30;

$padding_txt : 10px;
$radius_btn: 5px;
 