@import"../../../../Style/variables";
@import"../../../../Style/couleurs";
@import"../../../../Style/mixins";



.Header{
        width: 100%;
        height: 50px;
        background-color: $troisieme_couleur;
        text-align: center;
        display: flex;
        justify-content: space-around;
        position: fixed;
        flex-wrap:nowrap;   
        z-index: 1000000;    
        top:0;
        

}

.section{
 
     
    display: flex;
    flex-wrap:nowrap;
}

.logo{
    width: 40px;
    height: 40px;
    display: contents;

 
}
.nav{

    flex-grow:1;
    justify-content: baseline;
}
.navs{
 

}
.utili{
   
    width: 200px;
    height: 50px;
 
    margin: 0 auto ;
   
}
.img-sercle{
    width: 49px;
    height: 49px;
    background-color: #007E4C;
    
    border-radius: 100%;
}
 

 
 
@media all and (max-width:550px) {

      .Header{
          display: block;
          width: 100%;
          height: 180px;
       }
       .section{
        width: 100%;
        height: 20px;
 
 
       }
       .logo{
         width: 100%;
         height: 70px;

         
        
          img{
            width: 400px;
            height: 100px;
    
          }
       }
       .nav{
          align-content: center;
          width: 100%;
      
       }
       .img-sercle{
        margin-top: 20px;
        width: 40px;
        height: 40px;
       }
}